html {
    font-family: "Arial","Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}

#first-heading {
    /* ここにGoogle Fontsを指定します */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rab(115, 115, 114);
    text-shadow: 1px 1px 2pxgray;
}

h1{
    font-size: 40px;
    font-family: Josefin Sans ,sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px gray;
    letter-spacing: 1.2em;
}
.text-blue {
    color: skyblue;
}


.text-red {
    color: rgb(255, 192, 203);
}

strong{
    font-weight: bold;
}






